OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_GENAI_USE_VERTEXAI=FALSE
NETWORK_DIAGNOSTICS_URL=http://127.0.0.1:8001
BILLING_RESOLUTION_URL=http://127.0.0.1:8002
